[Unit]
Description=LLM RAG Q&A
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/kstnws/llm_rag_qna/
ExecStart=/home/debian/.local/bin/gunicorn -w 1 -k uvicorn.workers.UvicornWorker -b 0.0.0.0:5002 main:app_factory
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
